
	<link href="Vacation.css" rel="stylesheet" />

	<title>FinalProject</title>

 <body id="welcome_page">
	<header>
		<div class="body"></div>
		<div class="wrapper">
	<header>
		<!--The ButtonsNAV BAR-->
	<nav>
		<div class = "nav">
			<div class= "myButton2">Logout</div>
			<div class= "myButton">Settings</div>
			<div class= "myButton">Roi Cohen</div>
		</div>
	</nav>
	<!--our web photoASIDE-LEFT-->

	<!--MAIN- The form_ 2 dives in one-->
	<main>
		<div class = "main">
			<div class = "left">
				<%=image_tag("upload2.jpg", :alt=>"upload.jpg")%>

			</div>
			<div class = "center">
				<%=image_tag("upload2.jpg", :alt=>"upload2.jpg")%>
			</div>
			<div class = "right">
				<%=image_tag("upload2.jpg", :alt=>"upload3.jpg")%>

			</div>
		</div>
	</main>

	<!--FOOTER-one div-->
	</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
		<div class = "footer">
        <h5>
			All right reserved to Moria&Roi </br>7.2.17</br>
			<a href = "https://https://en.wikipedia.org/wiki/Terms_of_service">
			  Terms of Use
		</h5>

		</div>
		</div>
    </body>
