<div class="login-page">
  <%=image_tag("welcome.png", :alt=>"welcome.png")%>
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="?#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <button id="Blogin">
        <%= link_to 'login',photos_path, id: 'Blogin' %>
      </button>
      <p class="message">Not registered? <a href="?#">Create an account</a></p>

    </form>
      <%if(params.has_key?(:id) && params.has_key?(:random))%><br/>
        <%="ID : #{params[:id]}"%><br/>
        <%="RANDOM : #{params[:random]}"%><br/>
        <%end %>
  </div>
</div>
