

	<title>FinalProject</title>
  <h2>YEP!!!!</h2>
		<!--The ButtonsNAV BAR
	<nav>
		<div class = "nav">
			<div class= "myButton2">Logout</div>
			<div class= "myButton">Settings</div>
			<div class= "myButton">Roi Cohen</div>
		</div>
	</nav>



	<main>
		<div class = "main">
			<div class = "left">
			<img src="upload.jpg" >
			</div>
			<div class = "center">
			<img src="upload2.jpg" >
			</div>
			<div class = "right"><img src="upload3.jpg" ></div>
		</div>
	</main>


	</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
		<div class = "footer">
        <h5>
			All right reserved to Moria&Roi </br>7.2.17</br>
			<a href = "https://https://en.wikipedia.org/wiki/Terms_of_service">
			  Terms of Use
		</h5>

		</div>
		</div>
    </body>
  -->