<% provide(:title, "Contact Us") %>
<%= render "layouts/header" %>
<%=image_tag("myBackground.jpg",class:"background")%>
<h1 id="page_title"> Thanks!</h1>

<div class="skinny">
    <h1>Thank you for your message!</h1>
    <p>We get Back To You Soon</p>
</div>