<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<% provide(:title, "About") %>
<%= render "layouts/header" %>
<html>
<head>

</head>
<%=image_tag("about.png", :alt=>"about.png",:align=> "right", class: "image")%>
<br>
<div class="headAbout">About...</div><br><br>
<div class="marg">
  This system was built as a part of the final project in the Department of Software Engineering at the Azrieli College of Engineering for the Menaloma Cancer Research Department under the direction of Prof. Carmit Levy.
</div>

<div class="marg">
<h1>What is Our Medical System (With IMG Processing) ?</h1>
    Our System was build specially for the director of the Melanoma Cancer laboratory at Tel Aviv University.<br>
    The system include three algorithmic of image processing:<br>
  <div class="ul">
    <li>Count Cell- This Algorithm Count the cells in the image.</li><br>
    <li>Compare Between Treatments- In this section the algorithm measure the width of the cell's movement after treatment.</li><br>
    <li>DNA Damage and Aggressive-This Algorithm compare between DNA damage to aggresive in the same cell.<br>
  </div>
  <br>
  <p>
  All of this algorithms work perfectly together and along.<br>
  There is a large use of image processing in our system due to all needs of Prof, Carmi Levi.<br>
  After almost an year we have working on this project we glad to say that our system works in the minimum time and maximum quality.<br>
  </p>

<h1>Software Architecture</h1>

    <div class="s_headAbout">MEAN stack :</div><br>
    Ruby On Rails is the leading web application framework that include everything that programmer need.<br>
    Rails is a model-view-controller(MVC) framework, providing default structures for a database(MySQL), a web service, and web pages.<br>
    Our system sits on Amazon server with the opreting system Windows Server 2012 and Matlab-MathWorks®.<br>


</br></br></br>
</li>
</div>
</div>
</html>

