<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<% provide(:title, "About") %>
<%= render "layouts/header" %>
<html>
<head>

</head>
<%=image_tag("about.png", :alt=>"about.png",:align=> "right", class: "image")%>
<br>
<div class="headAbout">About...</div><br><br>
<div class="marg">
  This system was built as a part of the final project in the Department of Software Engineering at the Azrieli College of Engineering, for the Menaloma Cancer Research Department, under the direction of Prof. Carmit Levy.
</div>

<div class="marg">
<h1>What is Our Medical System (With IMG Processing) ?</h1>
    Our System was build specially for the director of the Melanoma Cancer laboratory at Tel Aviv University.<br>
    The system include three algorithms of image processing:<br>
  <div class="ul">
    <li>Count Cell- This algorithm counts the cells in the image.</li><br>
    <li>Compare Between Treatments- This algorithm measures the magnitude of the cell's movement after treatment.</li><br>
    <li>DNA Damage and Aggressivenes-This algorithm compare the DNA damage to aggresivenes in the same cell.<br>
  </div>
  <br>
  <p>
  All these algorithms work perfectly together and alone.<br>
  There is a large use of image processing in our system due to the needs of Prof. Carmit Levi.<br>
  After almost a year that we have been working on this project we are confident that it works in the minimum time and with maximum quality.<br>
  </p>

<h1>Software Architecture</h1>

    Ruby On Rails is the leading web application framework that includes everything that a programmer needs.<br>
    Rails is a model-view-controller(MVC) framework, providing default structures for a database(MySQL), a web service, and web pages.<br>
    Our system sits on an Amazon server with Windows Server 2012 operating system and Matlab-MathWorks®.<br>


</br></br></br>
</li>
</div>
</div>
</html>

