<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<html>
<head>
  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover:not(.active) {
      background-color: #111;
    }

    .active {

    }

  </style>
</head>
<body>

<ul>
  <li><a href="#settings">Settings</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
  <li style="float:right"><a href="#logout">Logout</a></li>
</ul>


<div class="container">

  <h1>Start Working On Our System </h1>


  <br>
  <div class="content">
        <a href="#" class="btn" >
       <span class="right title">Compare Between Cells</span>
        </a>

  </div>
   <br>


  <div class="content">
    <a href="#" class="btn">
      <span class="right title">Count Cells</span>
    </a>
  </div>

  <br>

  <div class="content">
    <a href="#" class="btn">
      <span class="right title">DNA Damage AND Aggressive</span>
    </a>
  </div>

</div>


</body>
</html>

