/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require all
 *= require_self
 */

.up {
    background: linear-gradient(to right, white, skyblue, blue);
    width : 100%;
    padding: 1%;
    margin:5px;
}

.left {

    background-color: skyblue;
    display: inline-block;
    width:15%;
    height:800px;
    float: left;
    margin:5px;



}
.right {
    width : 80%;
    height : 800px;
    background-color: lightblue;
    float: right;
    margin:5px;

}

