// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.up {
  background: linear-gradient(to right, white, skyblue, blue);
  width : 100%;
  padding: 1%;
  margin:5px;
}

.left {

  background-color: skyblue;
  display: inline-block;
  width:15%;
  height:800px;
  float: left;
  margin:5px;



}
.right {
  width : 80%;
  height : 800px;
  background-color: lightblue;
  float: right;
  margin:5px;

}
