
<ul id = 'header'>
  <li><%= link_to 'Home',photos_path, class: 'btn' %></li>
  <li><%= link_to 'Settings','#', class: 'btn' %></li>
  <li><%= link_to 'Contact','#', class: 'btn' %></li>
    <li style="float:right"><%= link_to 'Log Out','/sessions/new', class: 'btn' %></li>



</ul>
