<!DOCTYPE html>
<html>
<head>
  <title>Index</title>
  <link href=/assets/stylesheets/public.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body bgColor=black>
<div class = "up">
  <h1>The Web Index</h1>
</div>
<div class = "left">
  Since of our favourites:
</div>
<div class = "right">
  <h1>What is The Web Index?</h1>
  The Web Index is the place where you can find all kinfs of links....
</div>



</body>
</html>
